.App{
  margin: 30px;
}
.container{
  display: flex;
  align-items: flex-start;
}
.pet-list{
  padding-left: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.del-btn{
  margin-left: 10px;
  background-color: red;
  color: aliceblue;
  padding: 5px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 5px;
  font-size: 18px;
}
.edit-link{
  background-color: rgb(116, 141, 71);
  color: white;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 5px;

}
table{
  width: 1200px;
  border: 1px solid black;
} 



table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.name{
  width: 300px;
  text-align: center;
}

.input-add{
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.add-btn-c {
  background-color: red;
  padding: 5px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 5px;
  font-size: 18px; 
  margin-right: 10px;
}
.add-btn-c a {
  color: antiquewhite;
  text-decoration: none;
}
.add-btn{
  background-color: rgb(8, 95, 44);
  color: antiquewhite;
  padding: 5px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 5px;
  font-size: 18px; 
  margin-right: 10px;
}
.update-input{
  width: 240px;
  height: 30px;
  border-radius: 5px;
}
.update-btn{
  background-color: rgb(8, 95, 44);
  color: antiquewhite;
  padding: 5px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 5px;
  font-size: 18px;
}
.like-number{
  margin-left: 20px;
  font-size: large;

}

table{
  margin-bottom: 20px;
}

.invalid {
  border: 1px solid red;
}
.shelter{
  margin-bottom: 20px;
}
